body {
    background-color: rgb(160, 161, 164);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(32, 32, 32);
    color: #fff;
    border-radius: 10px;
    margin-top: -15px;
    margin-left: -15px;
    width: 100%;
    max-height: 300px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 40%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: -1;
    margin-top: 10px;
}

.navbar-menu {
    display: flex;
}

.navbar-menu.show {
    display: block;
}

.navbar-toggle {
    display: none;
    background-color: rgb(32, 32, 32);
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

@media (max-width: 600px) {
    .navbar-menu {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
}

.navbar-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.navbar-toggle.active .navbar-menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 20px;
}

.navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
}

.navbar-toggle.active span:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
}